* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    background: #232427;

}

input[type=text],
textarea,
input[type=email],
input[type=password],
input[type=tel],
input[type=url],
input[type=search],
input[type=date] {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    line-height: 24px;
    color: #555;
    background-color: #f1f1f1;
    border: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    border-style: none;


}

input[type=text],
textarea,
input[type=email],
input[type=password],
input[type=tel],
input[type=url],
input[type=search],
input[type=date],
.material.woocommerce-page[data-form-style="default"] input#coupon_code {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
    border-style: none;
}

/* /end Codepen Specific */
/* Ladder Navigation */
#leaderboard {
    padding: 50px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.ladder-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #e0a21c;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #e0a21c;
    width: 65%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.ladder-title {
    font-size: 1.5rem;
    color: black !important;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    font-weight: 900;
    text-shadow: 0 0 5px #442f06, 0 0 15px #442f06, 0 0 20px #442f06,
        0 0 40px #442f06, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}


/* /end Ladder Navigation */
/* Leaderboard Results */
.leaderboard-results {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard-results thead th {
    padding: 2rem;
    color: #747474;
    font-size: 1.5rem;
    font-weight: bold;
}

.leaderboard-results tbody td {
    padding: 1.5rem;
    font-size: 1.2rem;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.leaderboard-results tbody td:nth-of-type(7) {
    font-weight: bold;
}

.leaderboard-results tbody tr:hover td {
    background: #232427;
}

.leaderboard-results tbody tr {
    color: white;
}

.leaderboard-results tbody tr:first-child {
    color: #686EF9;
}

.leaderboard-results tbody span {
    font-weight: bold;
    padding: 0.8rem 1.2rem;
    border-radius: 50%;
}

.leaderboard-results tbody tr:first-child span {
    background: #5055CB;
    color: white;
}

.leaderboard-results tbody tr span {
    background: #262626;
    color: #747474;
}

@media only screen and (max-width: 768px) {

    .leaderboard-results thead th,
    .leaderboard-results tbody td {
        padding: 1rem;
        font-size: 1rem;
    }
}

.container-wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



.fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.back a {
    position: relative;
    display: block;
    padding: 1rem 5px;
    background: #e0a21c;
    margin-top: 5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
    text-align: center;
    width: 12rem;
    justify-content: center;
    margin: 2rem auto;
}

.back a:hover {
    transform: scale(1.1);
    border-radius: 2rem;
    background: #e0a21cf3;
    color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

@media only screen and (max-width: 1700px) {
    .container-wrap {
        padding: 10px;
        margin: 0 auto;
    }
    p{
        font-size: 1.2rem;
    }

    .leaderboard-results thead th {
        padding: 5px;
    }

    p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 771px) {
    .ladder-title {
        margin-left: 27%;
        margin-bottom: 2rem;
    }
}




.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-container th {
    transition: all 0.5s;
}

.table-container th:hover {
    color: #e0a21cf3;
    text-decoration: underline;
}

.table-container table {
    width: 30rem;
    border-collapse: collapse;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
}

.table-container th,
.table-container td {
    padding: 0.1rem;
    text-align: center;
    font-weight: normal;
}

.table-container th {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    font-weight: 900;
}

.table-container .leaderboard-results tbody td {
    background: #232427;
}

@media only screen and (max-width: 768px) {

    .table-container th,
    .table-container td {
        padding: 0.1rem;
    }

    .table-container table {
        width: 22rem;
    }
}

.back h1 {
    color: white;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;

}

h1 {
    color: white;
    margin-right: 2rem;
    text-align: center;
    justify-content: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    border: none;
}

.input {
    border-style: none;
    height: 50px;
    width: 2rem;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: #7e4fd4;
    box-shadow: 0px 0px 3px #f3f3f3;
    padding-right: 40px;
    color: red;
    border: none;
}

.input::placeholder,
.input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    border: none;
    color: red;
}

.input::placeholder {
    color: #8f8f8f;
    border: none;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
}

.icon:focus~.input,
.input:focus {
    transform: scale(1.05);
    box-shadow: none;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #7e4fd4;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}