@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: 'VT323', monospace;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: linear-gradient(-66deg, #ee76524f, #e73c7e7e, #e0a21cb4, #23d5ab98);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* CONTAINER START */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 40px 0;
}

.container .card {
    position: relative;
    min-width: 30rem;
    height: 35rem;
    border-radius: 15px;
    margin: 30px;
}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    overflow: hidden;
}

.container .card .box .content {
    padding: 20px;
    text-align: center;
}

.container .card .box .content p {
    padding: 20px;
    color: white;
    font-size: 12px;
    z-index: 1;
    margin-top: 1rem;
}

.container .card .box .content h3 {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8);
    z-index: 1;
    transition: 0.5s;
}

.container .card:hover .box .content h3 {
    color: rgba(255, 255, 255, 1);
}

.container .card .box .content a {
    position: relative;
    display: block;
    padding: 12px 25px;
    background: #e0a21c;
    margin-top: 3rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
}

.container .card .box .content a:hover {
    transform: scale(1.1);
    border-radius: 2rem;
    background: #e0a21cf3;
    color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* CONTAINER END */

/* NAME FORM START */

.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #e0a21c;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
}

/* styling of Input */
.input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    transition: ease 0.5s;
}

.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

input:hover {
    transform: scale(1.05);
}

input:focus {
    outline: none;
}

input:focus~.input-border {
    width: 100%;
}

/* NAME FORM START */

/* AUDIO START */


.mute-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
    transition: ease 0.5s;

}

.mute-icon:hover {
    transform: scale(1.1);
    color: rgb(212, 208, 208);
}

.mute-icon i {
    font-size: 24px;
}

/* AUDIO END */

.fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1500px) {
    .container {
        max-width: 200%;
        margin: auto;
    }

    .container .card {
        min-width: 23rem;
        height: 45rem;
        padding: 50%;
        margin: auto;
    }
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
}

.modal__content,
h1 {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

.modal__close:hover {
    color: #000;
}

.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #e0a21c;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}


/* styling of Input */
.input {
    color: black;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    transition: ease 0.8s;

}

.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

input:hover {
    transform: scale(1.05);
}

input:focus {
    outline: none;
}

input:focus~.input-border {
    width: 100%;
}

.backa {
    position: relative;
    display: flex;
    padding: 12px 25px;
    background: #e0a21c;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
    text-align: center;
    width: 35%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.backa:hover {
    transform: scale(1.1);
    border-radius: 2rem;
    background: #e0a21cf3;
    color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.loader {
    width: 48px;
    height: 48px;
    background: #e0a21c;
    display: flex;
    margin: 20px auto;
    position: absolute;
    box-sizing: border-box;
    animation: rotationBack 1s ease-in-out infinite reverse;
    top: 0.5rem;
    left: 2rem;
}

.loader::before {
    content: '';
    box-sizing: border-box;
    left: 0;
    top: 0;
    transform: rotate(45deg);
    position: absolute;
    width: 48px;
    height: 48px;
    background: #2e2e2e;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.loader::after {
    content: '';
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #e0a21cf3;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    10%,
    90% {
        transform: translate(-5px, 0);
    }

    20%,
    80% {
        transform: translate(5px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate(-5px, 0);
    }

    40%,
    60% {
        transform: translate(5px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.shake {
    animation: shake 0.5s;
}

.toast {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 325px;
    background: #FFF;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*   gap: 20px; */
    border-radius: 12px;
    border-left: 3px solid red;
    overflow: hidden;
    transform: translateX(calc(100% + 25px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35)
}

.toast.active {
    transform: translateX(0);
}

.toast i:first-child {
    color: red;
    font-size: 20px;
}

.toast-text {
    margin: 0;
    font-size: .8125rem;
    text-transform: uppercase;
}

.toast i:last-child {
    color: #ccc;
    cursor: pointer;
    transition: 350ms;
}

.toast i:last-child:hover {
    color: #333;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* .button {
    margin-top: 2rem;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 3px;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.5s;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(115deg,
            #4fcf70, #fad648,
            #a767e5, #12bcfe,
            #44ce7b);
    background-size: 50% 100%;
    border-radius: inherit;
    transition: 0.5s;

}

.button:hover {
    transform: scale(1.05);
}

.button:hover::before {
    animation: animate_border .75s linear infinite;

}

.button span {
    position: relative;
    z-index: 2;
    display: block;
    background-color: #2a2b2f;
    padding: 13px 20px;
    border-radius: 3px;
} */

@keyframes animate_border {
    to {
        transform: translateX(-50%)
    }
}

@media (min-width: 1024px) {

    /* Átméretezett konténer */
    .container {
        max-width: 1200px;
        margin: 40px auto;
    }

    .container .card {
        min-width: 25rem;
        height: 30rem;
        margin: 20px;
    }

    .container .card .box {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    .container .card .box .content p {
        font-size: 16px;
    }

    .container .card .box .content h3 {
        font-size: 3rem;
    }

}

/* Kisebb kijelzők (pl. tablet) */
@media (max-width: 1023px) {
    .container {
        max-width: 800px;
        margin: 20px auto;
    }

    /* .button {
        margin-top: 0.8rem;
    } */

    .container .card {
        min-width: 20rem;
        height: 25rem;
        margin: 10px;
    }

    .container .card .box {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
    }

    .container .card .box .content p {
        font-size: 14px;
    }

    .container .card .box .content h3 {
        font-size: 2.5rem;
    }
}

/* Mobiltelefonok és kisebb kijelzők */
@media (max-width: 767px) {
    .container {
        max-width: 500px;
        margin: 10px auto;
    }

    .container .card {
        min-width: 20rem;
        height: 25rem;
        margin: 5px;
    }

    .container .card .box {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
    }

    .container .card .box .content p {
        font-size: 12px;
    }

    .container .card .box .content h3 {
        font-size: 2rem;
    }
}